<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="StoreE" connectionString="metadata=res://*/Components.Model.Model1.csdl|res://*/Components.Model.Model1.ssdl|res://*/Components.Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=Store_Rogozhskiy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RogozhEn" connectionString="metadata=res://*/Components.Model.Model1313.csdl|res://*/Components.Model.Model1313.ssdl|res://*/Components.Model.Model1313.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=Rogozh_Store;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>